version: "3"
services:
  qsign:
    image: xzhouqd/qsign:core-1.1.9
    expose:
      - "8080"
    environment:
      - BASE_PATH=/srv/qsign/qsign/txlib/8.9.63
    volumes:
      - ./qsign-config.json:/qsign/txlib/8.9.63/config.json
    healthcheck:
      test: ["CMD-SHELL", "curl -sS 'http://localhost:8080' || exit 1"]
      interval: 30s
      timeout: 20s
      retries: 5
    restart: always
    container_name: qsign
  yiri:
    build: ./NewYiri
    dns:
      - 223.5.5.5
      - 223.6.6.6
    environment:
      - NEW_YIRI_MODEL=wybxc/new-yiri
      - NEW_YIRI_REVISION=b78622b6eed30e7ea591f9cb17dd326401bd553c
    volumes:
      - ./.cache:/.cache
      - ./logs-yiri:/app/logs
    expose:
      - "6001"
    container_name: yiri
  mirai:
    build: ./mirai
    ports:
      - "22333:22333"
    volumes:
      - ./KFCFactory.json:/mirai/KFCFactory.json
      - ./android_phone.json:/mirai/android_phone.json
      - ./bots:/mirai/bots
      - ./logs-mirai:/mirai/logs
      - ./Yiri.yml:/mirai/config/cc.wybxc.yiri/Yiri.yml
    container_name: mirai
    depends_on:
      - qsign
      - yiri
